:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

body * + * {
  margin-top: 1em;
}

header {
  text-align: center;
}

/* Contact Button and Form */

textarea:focus,
input:focus {
  outline: none;
}
ul li {
  list-style: none;
}

ul {
  display: inline-block;
}

#contact {
  background: #cccccc;
  position: relative;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 10px #222222;
}
.js #contact {
  position: absolute;
  top: 3em;
  display: none;
  left: 0;
  right: 0;
}

input {
  border: 0;
  margin: 1em 40px;
  width: 25em;
  padding: 1em;
  border-bottom: 2px solid #222222;
  background: none;
  display: block;
  color: #222222;
}

::placeholder {
  font-size: 1rem;
}

textarea {
  border: 0;
  width: 25em;
  height: 200px;
  display: block;
  margin-left: 40px;
  background: none;
  padding: 1em;
  border-bottom: 2px solid #222222;
  color: #222222;
  resize: none;
}

#submit {
  margin: 2.5em auto 2.5em;
  border: 2px solid #222222;
  color: #222222;
}

#submit:hover {
  color: #222222;
}

.btn {
  float: right;
  border: 2px solid #252525;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #212121;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: ease all 0.3s;
  display: block;
}

.btn:hover {
  background: #f5f5dc;
  color: #222222;
  border: #222222 solid 2px;
}
.btn:active {
  background: #f5f5dc;
  color: #222222;
  border: #222222 solid 2px;
}

.close {
  position: absolute;
  right: 20px;
  top: -10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 3em;
  color: #222222;
}

.hero-container {
  display: flex;
  width: 90%;
  height: 20em;
  margin: 0 auto;
  background-color: #fafafa;
  border: 5px solid #222222;
  align-content: center;
  align-items: center;
}

nav {
  padding-bottom: 1em;
}

/*Parent*/
.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #cccccc;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.site-nav > li {
  /*Selects the child li element of the .site-nav parent*/
  display: flex;
  font-size: 1.25em;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.site-nav > li > a {
  /*Selects the child a element of the child li element of the .site-nav parent*/
  display: block;
  padding: 0.5em 1em;
  /* background-color: #cccccc; */
  color: #222222;
  text-decoration: none;
}

.site-nav a:hover {
  background-color: #f5f5dc;
  border-radius: 0.25em;
}

main {
  padding: 1em 1em;
  margin: 0 auto;
}

h1 /*The h1, h2, h3, and h4 tags have all been styled to specific criteria*/ {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  text-align: center;
  margin: auto;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding: 1;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding: 2.5px;
  margin: 5px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding: 2.5px;
  margin: 5px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 8px 2px 8px;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  background-color: #fafafa;
  border: 2px solid #222222;
  border-radius: 0.25em;
  position: relative;
  margin: 2px 0 0 0;
  padding: 0.5em 0.5em 0.5em 0.7em;
  font-size: 100%;
}

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}
.ui-widget-content a {
  color: #333333;
}

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}
.ui-widget-header a {
  color: #333333;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding: 2.5px;
  margin: 5px;
}

.wrap {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

.wrap > img {
  width: 33%;
  margin: auto;
}

#lightbox {
  position: fixed; /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(34, 34, 34, 0.95);
  text-align: center;
}
#lightbox p {
  text-align: right;
  color: #fafafa;
  margin-right: 1em;
  font-size: 1rem;
  cursor: pointer;
}
#lightbox img {
  box-shadow: 0 0 25px #111111;
  max-width: 60%;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

@media (min-width: 35em) {
  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #cccccc; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.25em;
  }
}

@media (min-width: 50em) {
  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #cccccc; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.25em;
  }
}
